.list_background {
    background: silver url(images/bg.jpg);
    font-family: Calligraph, Regular;
    font-size: x-large;
}

.form_background {
    background: silver url(images/bg2.jpg);
    font-family: Calligraph, Regular;
    font-size: x-large;
}

.h {
    color: #0000FF;
    font-family: Calligraph, Regular;
    font-size: x-large;
    text-align: center;
}

.h2 {
    color: black;
    font-family: Calligraph, Regular;
    font-size: x-large;
}

.p {
    color: #00ff00;
    font-family: Calligraph, Regular;
    font-size: x-large;
}

.author {
    color: black;
    font-family: Calligraph, sans-serif;
    font-size: large;

}

.publication_date {
    color: black;
    font-family: Calligraph, sans-serif;
    font-size: large;
    text-align: right;
}

.message_text {
    color: black;
    font-family: Cambria, sans-serif;
    font-size: large;
    text-align: left;
}

.error_text {
    color: red;
    font-family: Cambria, sans-serif;
    font-size: medium;
}

.button {
    width: 90px;
    height: 30px;
    border-radius: 30px;
    background: #459DE5;
    color: #fff;
    position: fixed;
    left: 350px;
    font-size: 15px;
    cursor: pointer;
}

.button:hover {
    background: #358DE5;
}

.button:focus {
    outline: none;
}
