body {
    color:black ;
    background: silver url(images/bg.jpg);
    font-family: Calligraph, Regular;
    font-size:x-large;
}
.h {
    color:#0000FF;
    text-align: center;
    font-size:x-large;
    font-family: Calligraph, Regular;
}
.h2 {
    color:#0000FF;
    text-align: left;
    font-size:x-large;
    font-family: Calligraph, Regular;
}
.autor {
    color: black;
    background: silver url(images/bg.jpg);
    font-family:Calligraph, sans-serif;
    font-size:x-large;
    text-align: left;
}
.p {
    color:#00ff00;
    font-size:x-large;
    font-family:Calligraph, sans-serif;
    text-align: left;


}
.pub_date {
    color: black;
    background: silver url(images/bg.jpg);
    font-family:Calligraph, sans-serif;
    font-size:large;
    text-align: right;
}
.message_text{
    color: black;
    background: silver url(images/bg.jpg);;
    font-family: Cambria, sans-serif;
    font-size:large;
    text-align: left;
}

td.mes {
    color:red;
    font-family: Cambria, sans-serif;
    font-size:medium;
}
.superbutton {
    width:90px;
    height:30px;
    border-radius:30px;
    background:#459DE5;
    color:#fff;
    position:fixed;
    left: 350px;
    font-size:15px;
    cursor:pointer;
}
.superbutton:hover{
    background:#358DE5;
}
.superbutton:focus {
    outline: none;
}
.superbutton2 {
    width:90px;
    height:30px;
    border-radius:30px;
    background:#459DE5;
    color:#fff;
    position:fixed;
    left: 450px;
    font-size:15px;
    cursor:pointer;
}
.superbutton2:hover{
    background:#358DE5;
}
.superbutton2:focus {
    outline: none;
}